[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sqlalchemy = "*"
flask = "*"
pyodbc = "*"
psycopg2 = "*"
faker = "*"
autopep8 = "*"
sqlitis = "*"
sqlparse = "*"

[requires]
python_version = "3.8"
